---
layout: archive
permalink: /posts/
title: "Blog posts"
author_profile: true
---


<!--
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% include archive-single.html %}
{% endfor %}
-->
  

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}

    
   
      {% for post in year.items %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
   
  
  </section>
{% endfor %}
